<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<a class="fw-bold" style="font-size: 21px; margin-right: 12rem" href="{{ url_for('home') }}">Home Security</a>
        <a href="{{ url_for('home') }}"><i class="far fa-grin-alt"></i>Known</a>
				<a href="{{ url_for('face_negative') }}"><i class="far fa-grin-alt"></i>Unknown</a>
				<a href="{{ url_for('finger_positive') }}"><i class="far fa-hand-paper"></i>Known</a>
				<a href="{{ url_for('finger_negative') }}"><i class="far fa-hand-paper"></i>Unknown</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>